@charset "UTF-8";

.hot-header {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
}

.item-list {
  padding: 0 .5rem;
  background: #fff;
  li {
    display: flex;
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
    img {
      width: 6rem;
      height: 6rem;
    }
    .item-info {
      flex: 1;
      padding-left: 1rem;
    }
  }
}