@charset "UTF-8";

.start-content {
  .start-header {
    width: 10rem;
    height: 3.2rem;
    margin: 5rem auto 0;
    background: #000;
    line-height: 3.2rem;
    color: #fff;
    border-radius: .5rem;
    img {
      position: relative;
      top: .5rem;
      height: 2.2rem;
      margin: 0 1rem;
    }
  }
  .notice {
    margin: 1rem 0;
    color: #b30000;
    text-align: center;
  }
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;
  li {
    padding: .5rem;
    width: 25%;
    box-sizing: border-box;
    span {
      display: block;
      width: 100%;
      height: 3.2rem;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 3.2rem;
      text-align: center;
      border-radius: .5rem;
    }
  }
}

.start {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  margin-left: -3rem;
  width: 6rem;
  height: 6rem;
  background: #b30000;
  color: #fff;
  border-radius: 50%;
  span {
    position: relative;
    top: 1.5rem;
    display: block;
    width: 2rem;
    margin: 0 auto;
  }
}
